body {
    margin: 0px;
}

.pohja {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.joukkueListaus {
    flex: 1;
}

.rastinValinta {
    width: 5em;
}

.lomakkeet {
    flex: 2;
}

fieldset {
    margin: 10px;
}

.palaute {
    color: green;
}

.tiedot div {
    display: flex;
}

.tiedot label {
    flex: 1;
    max-width: 10em;
}

.tiedot .kentta {
    flex: 1;
    display: flex;
    margin: 0px;
    white-space: nowrap;
    margin-bottom: 10px;
    max-width: 20em;
    align-items: flex-end;
    padding: 0px;
}

.tiedot .kentta li {
    flex: 1;
    list-style-type: none;
}

/* vaakasuuntainen scrollbar saa ilmestya */
@media all and (min-width: 300px) {
    body {
        overflow-x: hidden;
    }
}

/* levitetaan kenttien listaukset */
@media all and (min-width: 600px) {
    .tiedot ul.kentta {
        flex-direction: column;
    }

    .pohja {
        flex-flow: row nowrap;
    }
}

@media all and (min-width: 1200px) {
    .pohja {
        flex-flow: column nowrap;
    }

    #joukkueListaus ul {
        display: flex;
        flex-flow: column wrap;
        height: 500px;
    }

    #joukkueListaus .joukkue {
        height: 20%;
    }

    .lomakkeet {
        display: flex;
    }

    .lomakkeet div {
        flex: 1;
    }
}