/* kaytetaan muuttujia koska samoja leveyksia kaytetaan mm. animaatioissa */
:root {
    --palkki-width: 200px;
    --pollo-width: 100px;
    --pollo-heigth: 100px;
}

body {
    overflow: hidden;
    background-color: black;
    margin: 0;
}

.layer {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#layer2 {
    display: flex;
}

.pupunPuolisko {
    flex: 1;
}

.pupunPuolisko.vasen canvas {
    float:right;
}

.pupuDivider {
    animation-duration: 3s;
    animation-name: divide;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes divide {
    0% { width: calc(100% - 383px); } /* tahan joku fixumpi kuin pupun koko pikseleina ? */
    80% { width: 0; }
}

#lisaaPollo {
    float: right;
}

.pollo {
    position: absolute;
    width: var(--pollo-width);
    height: var(--pollo-heigth);
    animation-duration: 8s;
    animation-name: pollo;
    animation-iteration-count: infinite;
}

/* jokatoinen pollo menee toiseen suuntaan */
.pollo:nth-child(even) {
    animation-direction: reverse;
}

@keyframes pollo {
    0% { margin-left: 0; margin-top: 0; }
    25% { margin-left: calc(100vw - var(--pollo-width)); margin-top: calc(100vh - var(--pollo-heigth)); }
    50% { margin-left: 0; margin-top: calc(100vh - var(--pollo-heigth)); }
    75% { margin-left: calc(100vw - var(--pollo-width)); margin-top: 0; }
    100% { margin-left: 0; margin-top: 0; }
}

.palkki {
    height: 100vh;
    width: var(--palkki-width);
    position: absolute;
    animation-duration: 8s;
    animation-name: palkki;
    animation-iteration-count: infinite;
}

@keyframes palkki {
    0% { margin-left: calc(-1 * var(--palkki-width)); }
    33% { margin-left: 100vw; }
    66% { margin-left: 100vw; }
    100% { margin-left: calc(-1 * var(--palkki-width)); }
}

#tekstiScrolleri, #sinusScrolleri {
    position: absolute;
    width: 100%;
}

#tekstiScrolleri {
    height: 150px;
    bottom: 0px;
}

#sinusScrolleri {
    height: 50%;
    top: 20px;
}

.lumihiutale {
    position: absolute;
    animation-duration: 8s;
    animation-name: hiutale;
    animation-timing-function: linear;
    animation-fill-mode: forwards; /* jotta hiutaleet jaavat paikoilleen animaation loputtua */
}

@keyframes hiutale {
    from { bottom: 100%; }
    to { bottom: 0; }
}